<body class="bg-gray-500 w-full">
  <div class="flex justify-start">

  </div>
  <div class="flex justify-end py-3">
      <div class="w-full max-w-4xl bg-slate-100  mx-auto rounded-xl shadow-xl overflow-hidden p-6 space-y-10">
        <h1 class="font-semibold text-2xl">Agregar Producto</h1>  
        <div class="">
              <label class="text-black " for="emailAddress">Nombre del producto </label>
              <input type="text" id="Nombredelproducto" placeholder="Nombre del producto" class="block p-2.5 w-full text-sm rounded-lg border focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
            <div class="">
                <label class="text-black " for="emailAddress">Descripcion </label>
                <textarea id="message" rows="4" class="block p-2.5 w-full text-sm rounded-lg border focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Descripcion del producto..."></textarea>
            </div>
              <div class="flex justify-between">
                <div class="py-3"> 
                  <mat-form-field appearance="fill">
                    <mat-label class="">Categoria</mat-label>
                    <mat-select>
                      <mat-option value="1">Moda</mat-option>
                      <mat-option value="2">Juegos</mat-option>
                   <mat-optgroup label="Tecnologia"> 
                      <mat-option value="3">Telefonos</mat-option>  
                      <mat-option value="5">Camaras y Accesorios</mat-option>
                      <mat-option value="6">Electronica</mat-option>
                   </mat-optgroup>     
                   <mat-optgroup label="Computadoras">  
                    <mat-option value="4">PC</mat-option>
                    <mat-option value="5">Laptops</mat-option>
                    </mat-optgroup>   
                      <mat-option value="4">Juguetes</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                </div>
                <div>
                   <label class="text-black " for="emailAddress">Precio </label>
                      <div class="">
                         <span matTextPrefix>$&nbsp;</span>
                          <input matInput type="number" class="p-2.5 w-48 text-sm rounded-lg border focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Precio">
                     </div>
                </div>
                <div>      
                      <label class="text-black " for="emailAddress">Cantidad</label>
                      <input matInput type="number" class="block p-2.5 w-48 text-sm rounded-lg border focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cantidad">
                </div>
                
              </div> 
              <div>      
                <label class="text-black " for="fotos">Fotos</label>
                <input accept="image/png,image/jpeg" #foto required id="fotos" multiple type="file" class="block p-2.5 " placeholder="Cantidad">
              </div>

              <div class="flex justify-between">
                  <a routerLink="" class="flex font-semibold text-indigo-600 text-sm mt-10">
                    <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"></svg>
                    Regresar
                    </a>
                        <a routerLink="/agregar" class="flex font-semibold text-indigo-600 text-sm mt-10">
                    <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"></svg>
                    Agregar
                    </a>
                </div>
               
          </div>
      </div>

    </body>