<div>
<swiper [slidesPerView]="1" [spaceBetween]="30" [autoplay]="{delay: 2500,disableOnInteraction: false}" [loop]="true" [pagination]="{clickable: true}"[navigation]="true" class="mySwiper">
    <ng-template swiperSlide><img src="https://http2.mlstatic.com/D_NQ_906475-MLA52952927623_122022-OO.webp"></ng-template
    ><ng-template swiperSlide><img src="https://http2.mlstatic.com/D_NQ_853304-MLA52688079314_122022-OO.webp"></ng-template
    ><ng-template swiperSlide><img src="https://http2.mlstatic.com/D_NQ_669520-MLA52774282788_122022-OO.webp"></ng-template
    ><ng-template swiperSlide><img src="https://http2.mlstatic.com/D_NQ_988887-MLA52700708750_122022-OO.webp"></ng-template
    ><ng-template swiperSlide>Slide 5</ng-template
    ><ng-template swiperSlide>Slide 6</ng-template
    ><ng-template swiperSlide>Slide 7</ng-template
    ><ng-template swiperSlide>Slide 8</ng-template
    ><ng-template swiperSlide>Slide 9</ng-template>
</swiper>
</div>